.icons {
	font-size: 1.6rem;
	margin-top: 10px;
}

.icons .icon {
	color: var(--white-color);
	cursor: pointer;
	margin-right: 16px;
	transition: all 0.4s;
}

.icons .icon:hover {
	color: var(--secondary-color);
}
