.skills {
	margin-bottom: 20px;
}

.skills div {
	display: inline-block;
	color: var(--white-color);
	border: 1px solid var(--white-color);
	padding: 5px 10px;
	font-size: 0.9rem;
	margin: 4px 8px 4px 0;
	transition: all 0.4s;
}

.skills div:hover {
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
}
