.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	height: 100vh;
}

.off {
	transform: translate(0, 100%);
}

.active {
	transform: translate(0);
}

.card {
	width: 290px;
	height: 420px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}
