@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #cfcfcf;
	color: #fffef4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
}
